<p id="notice"><%= notice %></p>
<% unless @errors.nil? %>
  <div id="errors">
      <% @errors.keys.each do |error| %>
        <h4><%= error %></h4>
        <ul>
        <% @errors[error].each do |reason| %>
          <li><span><%= reason %></span></li>
        <% end %>
        </ul>
      <% end %>
  </div>
<% end %>

<h1>Funds</h1>
<%= number_to_currency @fund.balance %>
<%= link_to 'Edit', edit_fund_path(@fund) %>
<h1>Goals</h1>
<table>
  <th>Name</th>
  <th>Amount</th>
  <th>Progress</th>
  <% @goals.each do |goal| %>
    <tr class="<%= "done" if goal.met? %>">
      <td><%= goal.name %></td>
      <td><%= number_to_currency goal.amount %></td>
      <td><%= number_to_currency get_goal_progress(goal) %></td>
    </tr>
  <% end %>
</table>

<h1>Report</h1>
<table>
  <th>Date</th>
  <th>Budget</th>
  <th>Expense</th>
  <th>Comment</th>

  <tr>
    <td><%= Time.now.strftime "%m/%Y" %></td>
    <td><%= number_to_currency get_total_budget %></td>
    <td><%= number_to_currency get_total_expense %></td>
    <td><%= get_comment get_total_budget, get_total_expense %></td>
  </tr>
</table>

<h1>Reminders</h1>
<table>
  <th>Status</th>
  <th>Name</th>
  <th colspan="4"></th>
  <% @reminders.each do |reminder| %>
    <tr>
      <td><%= reminder.status %></td>
      <td><%= reminder.name %></td>
      <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
      <td><%= link_to 'Finish', reminder_path(reminder, reminder: { archived: true, status: true }), method: :put %></td>
      <td><%= link_to 'Archive', reminder_path(reminder, reminder: { archived: true } ), method: :put %></td>
      <td><%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= form_for Reminder.new do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name %></td>
      <td colspan="3"><%= f.submit %></td>
    </tr>
  <% end %>
</table>

<h1>Bills</h1>
<table>
  <th>Reminder</th>
  <th>Name</th>
  <th>Amount</th>
  <th>URL</th>
  <th colspan="3"></th>
  <% @bills.each do |bill| %>
    <tr class="<%= "done" if bill.paid? %>">
      <td><%= bill.reminder.nil? ? "-" : bill.reminder.name %></td>
      <td><%= bill.name %></td>
      <td><%= number_to_currency bill.amount %></td>
      <td><%= link_to bill.url, bill.url, target: :_blank %></td>
      <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
      <td><%= link_to 'Archive', bill_path(bill, bill: { archived: true } ), method: :put %></td>
      <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= form_for Bill.new do |f| %>
    <tr>
      <td><%= f.select :reminder_id, Reminder.where(:archived => false).collect { |r| [r.name, r.id] }, include_blank: true %></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.number_field :amount, step: "0.01" %></td>
      <td><%= f.text_field :url %></td>
      <td colspan="2"><%= f.submit %></td>
    </tr>
  <% end %>
</table>

<h1>Budget</h1>
<table>
  <th>Category</th>
  <th>Budget</th>
  <th>Funds</th>
  <th colspan="2"></th>
  <% @budgets.each do |budget| %>
    <tr>
      <td><%= budget.name %></td>
      <td><%= number_to_currency budget.amount %></td>
      <td><%= number_to_currency budget.funds %></td>
      <td><%= link_to 'Edit', edit_category_path(budget) %></td>
      <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= form_for Category.new do |f| %>
    <tr>
      <td><%= f.text_field :name %></td>
      <td><%= f.number_field :amount, step: "0.01" %></td>
      <td><%= f.select :category_type, ["BUDGET", "GOAL"], include_blank: false %>
      <td><%= f.submit %>
    </tr>
  <% end %>
</table>

<h1>Transactions</h1>
<table>
  <th>Date</th>
  <th>Type</th>
  <th>Category</th>
  <th>Name</th>
  <th>Amount</th>
  <th>Bill</th>
  <th colspan="2"></th>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= transaction.payment_type %></td>
      <td><%= transaction.category.nil? ? "None" : transaction.category.name %></td>
      <td><%= transaction.name %></td>
      <td><%= number_to_currency transaction.amount %></td>
      <td><%= transaction.bill.nil? ? "-" : transaction.bill.name %></td>
      <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
      <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= form_for Transaction.new do |f| %>
    <tr>
      <td></td>
      <td><%= f.select :payment_type, ["PAY", "EARN"], include_blank: false %>
      <td><%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, include_blank: true %></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.number_field :amount, step: "0.01" %></td>
      <td><%= f.select :bill_id, @bills.collect { |b| [b.name, b.id] }, include_blank: true %></td>
      <td colspan="2"><%= f.submit %></td>
    </tr>
  <% end %>
</table>
