<p id="notice"><%= notice %></p>
<% unless @errors.nil? %>
  <div id="errors">
      <% @errors.keys.each do |error| %>
        <h4><%= error %></h4>
        <ul>
        <% @errors[error].each do |reason| %>
          <li><span><%= reason %></span></li>
        <% end %>
        </ul>
      <% end %>
  </div>
<% end %>

<h1>Report</h1>
<table>
  <th>Date</th>
  <th>Budget</th>
  <th>Expense</th>
  <th>Comment</th>

  <tr>
    <td><%= Time.now.strftime "%m/%Y" %></td>
    <td><%= number_to_currency get_total_budget %></td>
    <td><%= number_to_currency get_total_expense %></td>
    <td><%= get_comment get_total_budget, get_total_expense %></td>
  </tr>
</table>

<h1>Reminders</h1>
<table>
  <th>Status</th>
  <th>Name</th>
  <th>Frequency</th>
  <th colspan="4"></th>
  <% @reminders.each do |reminder| %>
    <tr>
      <td><%= reminder.status %></td>
      <td><%= reminder.name %></td>
      <td><%= reminder.frequency %></td>
      <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
      <td><%= link_to 'Finish', reminder_path(reminder, reminder: { archived: true, status: true }), method: :put %></td>
      <td><%= link_to 'Archive', reminder_path(reminder, reminder: { archived: true } ), method: :put %></td>
      <td><%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= form_for Reminder.new do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :frequency %></td>
      <td colspan="3"><%= f.submit %></td>
    </tr>
  <% end %>
</table>

<h1>Categories</h1>
<table>
  <th>Category</th>
  <th>Budget</th>
  <th colspan="2"></th>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= number_to_currency category.budget %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category, method: :update, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= form_for Category.new do |f| %>
    <tr>
      <td><%= f.text_field :name %></td>
      <td><%= f.number_field :budget, step: "0.01" %></td>
      <td colspan="2"><%= f.submit %>
    </tr>
  <% end %>
</table>

<h1>Transactions</h1>
<table>
  <th>Type</th>
  <th>Category</th>
  <th>Name</th>
  <th>Value</th>
  <th colspan="2"></th>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.payment_type %></td>
      <td><%= transaction.category.nil? ? "None" : transaction.category.name %></td>
      <td><%= transaction.name %></td>
      <td><%= number_to_currency transaction.value %></td>
      <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
      <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= form_for Transaction.new do |f| %>
    <tr>
      <td><%= f.select :payment_type, ["PAY", "EARN"], include_blank: false %>
      <td><%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, include_blank: true %></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.number_field :value, step: "0.01" %></td>
      <td colspan="2"><%= f.submit %></td>
    </tr>
  <% end %>
</table>
