<p id="notice"><%= notice %></p>

<p>
  <strong>Funds:</strong>
  <%= @fund.funds %>
</p>

<p>
  <strong>Funds set at:</strong>
  <%= @fund.funds_set_at %>
</p>

<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
